<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Danh sách người dùng</title>
</head>
<body>
	<section>
		<div class="container-fluid mt-5 p-5">

			<div class="card card-sh">
				<div class="card-header text-center">
					<p class="fs-4" th:if="${userType==1}">Người dùng</p>
					<p class="fs-4" th:if="${userType==2}">Quản trị viên</p>
					<th:block th:if="${session.succMsg}">
						<p class="text-success fw-bold">[[${session.succMsg}]]</p>
						<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
					</th:block>

					<th:block th:if="${session.errorMsg}">
						<p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
						<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
					</th:block>
				</div>
				<div class="card-body">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">STT</th>
								<th scope="col">Ảnh</th>
								<th scope="col">Họ và tên</th>
								<th scope="col">Email</th>
								<th scope="col">Số điện thoại</th>
								<th scope="col">Địa chỉ</th>
								<th scope="col">Trạng thái</th>
								<th scope="col">Hành động</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="u,c:${users}">
								<th scope="row">[[${c.count}]]</th>
								<td><img th:src="@{'/img/profile_img/'+${u.profileImage}}"
									width="70px" height="70px"></td>
								<td>[[${u.name}]]</td>
								<td>[[${u.email}]]</td>
								<td>[[${u.mobileNumber}]]</td>
								<td>[[${u.address+','+u.city+','+u.state+','+u.pincode}]]</td>
								<td th:text="${u.isEnable} ? 'active' : 'inactive'"></td>

								<td>
									<!-- Edit always available -->
												<a th:href="@{/admin/editUser/{id}(id=${u.id},type=${userType})}"
									   class="btn btn-sm btn-secondary me-1">Sửa</a>

									<!-- If user is active -> show only button to make inactive -->
									<th:block th:if="${u.isEnable}">
													 <a th:href="@{/admin/updateSts(status=${false},id=${u.id},type=${userType})}"
										   class="btn btn-sm btn-warning me-1">Vô hiệu hóa</a>
									</th:block>

									<!-- If user is inactive -> show only button to make active -->
									<th:block th:if="${!u.isEnable}">
													 <a th:href="@{/admin/updateSts(status=${true},id=${u.id},type=${userType})}"
										   class="btn btn-sm btn-success me-1">Kích hoạt</a>
									</th:block>

									<!-- Show delete only if user has NO orders -->
									<th:block th:if="${!hasOrdersMap[u.id]}">
													 <a th:href="@{/admin/deleteUser/{id}(id=${u.id},type=${userType})}"
										   onclick="return confirm('Bạn có chắc muốn xóa người dùng này không?');"
										   class="btn btn-sm btn-danger">Xóa</a>
									</th:block>
								</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>

	</section>
</body>
</html>